.square {
  border: 1px solid;
  height: 100px;
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  
  align-content: center;
  justify-content: center;
}

.row {
   display: flex;
}

.container {
  margin-left:40px;
  margin-top:20px;
  
}

.myalert{
  align-content: center;
}