.square {
  border: 1px solid;
  height: 100px;
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  
  align-content: center;
  justify-content: center;
}



.container {

  margin-top:20px;
  
}

.myalert{
  align-content: center;
}

.footer{
  position: fixed;
  bottom: 0;
  font-size: large;
  height: 50px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.box {
  align-items: center;
  text-align: center;
  align-content: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  
}